.header {
  @include vp-679 {
    background-color: $color-crusoe;
  }

  &.is-open {
    .main-nav__toggle {
      span {
        &:nth-child(1) {
          top: 18px;
          transform: rotate(-45deg) translate(0, -50%);
        }

        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }

        &:nth-child(3) {
          top: 17px;
          transform: rotate(45deg) translate(0, 50%);
        }
      }
    }

    .main-nav__menu {
      clip-path: inset(0 0 0 0);

      visibility: visible;
    }
  }
}
