.header-bottom {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 20px;

  border-radius: 16px;
  background: $color-crusoe;

  @include vp-1023 {
    padding: 20px 25px;
  }

  @include vp-679 {
    padding: 6px 0;

    border-radius: 0;
  }

  &__logo {
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 53px;
    margin: 0 20px 0 0;

    @include vp-679 {
      display: flex;
    }

    svg {
      flex-shrink: 0;

      width: 80px;
      height: 53px;

      color: $color-default-white;
    }
  }

  &__cart {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    margin: 0 0 0 auto;

    transition: opacity $trans-default;

    @include vp-1023 {
      width: 36px;
      height: 36px;
    }

    @include vp-679 {
      display: none;
    }

    svg {
      flex-shrink: 0;
      width: 48px;
      height: 48px;

      @include vp-1023 {
        width: 36px;
        height: 36px;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__phone {
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    margin: 0 15px 0 auto;

    transition: opacity $trans-default;

    @include vp-679 {
      display: flex;
    }

    svg {
      width: 40px;
      height: 40px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}
